<%- include('partials/header') -%>
<link rel="stylesheet" href="/companies1.css">

<div class="X">
<h1> Companies </h1>
<ul class="card-list">
  <div class="wrapper">
<% if (companies.length > 0) { %>
      <% companies.forEach(company => { %>
      <a href="/company/<%= company.name.toLowerCase() %>">  <div class="card 1" >
  <div class="card_image" > <img src="<%= company.linktologo %>"  /> </div>
  <div class="card_title title-black" href="/company/<%= company.name.toLowerCase() %>">

  </div>
</div></a>
      <% }) %>
    <% } else { %>
      <p>There are no companies to display...</p>
    <% } %>
</ul>
</div>
</div>
<%- include('partials/footer'); -%>


<!-- <%- include('partials/header'); -%>
  <link rel="stylesheet" href="/companies1.css">

  
    <% if (companies.length> 0) { %>
      <div className="row row-cols-1 row-cols-md-3" style="display: flex; margin: 10px ;">
      <% companies.forEach(company=> { %>
        <div class="col">
          <div class="card" >
            <a href="/company/<%= company.name.toLowerCase() %>">
              <div class="card_image hover-overlay ripple shadow-1"><img src="<%= company.linktologo %>" class="card-img-top" style="height: 250px; width: 100%" alt="..."></div>
            </a>
          </div>
        </div>

      <% }) %>
    </div>
      <% } else { %>
        <p>There are no companies to display...</p>
      <% } %>

<%- include('partials/footer'); -%> -->